@model IEnumerable<DerivcoDemo.Models.MenuItem>

@{
    ViewBag.Title = "Index";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4 pt-4">
    <div class="d-sm-flex align-items-start justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800"><i class="fas fa-fw fa-list text-primary"></i> Current Instock Items</h1>
    </div>
    <div class="d-sm-flex align-items-end justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800"><i class="fas fa-fw fa-bars text-defualt"></i> Menu Items</h1>
    </div>
</div>
<hr />

<div class="d-sm-flex flex-row-reverse mb-4">
    <a href="@Url.Action("Index", "MenuItem")" class="btn btn-outline-success btn-sm">
        <i class="fas fa-fw fa-plus"></i>
    </a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuItemCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuItemPrice)
        </th>
        <th><i class="fas fa-tasks"></i> Actions</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MenuItemCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MenuItemName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MenuItemPrice)
    </td>
    <td>
        <a href="@Url.Action("Edit", "MenuItems", new { id = item.MenuItemId })" class="btn btn-outline-warning btn-sm">
            <i class="fas fa-fw fa-pencil-alt"></i>
        </a>
        <a href="@Url.Action("Details", "MenuItems", new { id = item.MenuItemId })" class="btn btn-outline-primary btn-sm">
            <i class="fas fa-fw fa-eye"></i>
        </a>
        <a href="@Url.Action("Delete", "MenuItems", new { id = item.MenuItemId })" class="btn btn-outline-danger btn-sm">
            <i class="fas fa-fw fa-trash"></i>
        </a>
    </td>
</tr>
    }

</table>
